#relic-button
{
  list-style-image: url("chrome://relic/skin/newrelic.png");
}

#relic-button image
{
  border: none !important;
  padding: 0 !important;
}


#relic-stats
{
  font-size: 0;
  cursor: pointer;
}
